//font family
$font-family-primary: "Roboto", Arial, sans-serif;
$font-family-secondary: "Radley", serif;

//font size
$font-size: 14px;
$font-size-10: 10px;
$font-size-12: 12px;
$font-size-16: 16px;


//color
$color-primary: #da251c;
$color-sale: #f90;
$color-button: #0857ea;
$color-btn-hover: #0071c4;
$color-compare: #3071c4;
$color-star: #ffb909;
$color-text: #333;
$color-text-primary: #0071c4;
$color-gray: #999999;
$color-background-primary:#eee;
$color-white: #fff;
$color-yellow:#ff0;


//font weight
$font-weight-light: 300;
$font-weigh-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-heavy: 800;
$font-weight-black: 900;
//screen device
$small-mobile: "screen and (max-width: 375.98px)";
$mobile: "screen and (max-width: 575.98px)";
$tablet: "screen and (max-width: 767.98px)";
$moblet: "screen and (max-width: 991.98px)";
$desktop: "screen and (max-width: 1199.98px)";
$large-desktop: "screen and (max-width: 1399.98px)";

//background-color
$background-gray: #f0f0f0;


//width height
$width-24: 24px;
$height-24: 24px;